# Ignore untracked folders / files

introduction/
WPI/
*.py
*.sh

# Ignore working folders

ADTStackGeneric/
ADTMapHashTable/

# Ignore uncommented versions of files

*_uncommented*

# Ignore all generated doxygen folders

**/html

# Ignore all exercise solutions

**/exercises

# Ignore compiled files

**/prog
**/program
*.out
*.o

